{% extends 'layout.html' %}

{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Update Animal</h2>
              <p class="text-white-50 mb-5">Please update the details of the animal!</p>

              <form method="POST" action="{{ url_for('update_animal', id=animal.id) }}">
                <div class="form-outline form-white mb-4">
                  <input type="text" id="name" class="form-control form-control-lg" name="name" value="{{ animal.name }}" required />
                  <label class="form-label" for="name">Name</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="number" id="age" class="form-control form-control-lg" name="age" value="{{ animal.age }}" required />
                  <label class="form-label" for="age">Age</label>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Update Animal</button>
              </form>

            </div>

            <div>
              <p class="mb-0"><a href="{{ url_for('index') }}" class="text-white-50 fw-bold">Back to List</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
